#frame{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light-background{
  background-image: url('../../../assets/images/wallpaper-light-mode.jpg');
  background-size: contain;
}

.dark-background{
  background-image: url('../../../assets/images/wallpaper-dark-mode.jpg');
  background-size: contain;
}

.example-card {
  max-width: 500px;
}

.example-header-image {
  background-image: url('../../../assets/images/login-logo.png');
  background-size: cover;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-top: 1vh;
}

.example-full-width {
  width: 100%;
}

.example-form mat-slide-toggle {
  display: flex;
  justify-content: left;
  align-items: center;
}

.example-form-fields {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.example-form-fields mat-form-field + mat-form-field {
  margin-right: 8px;
  flex-grow: 1
}

.sortByGroup{
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
}
