/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Persian;
  src: url(./assets/fonts/IRANSans.woff2);
}
html, body { min-height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*{
  font-family: Persian;
}
mat-card-title,mat-card-subtitle{
  font-family: persian !important;
}
